a {
  color: #0088cc;
  text-decoration: none;
}

b {
  font-weight: 700;
}

body {
  background-color: black;
  background-image: url("img/abstract_ink_xl.webp");
  font-family: 'Open Sans', sans-serif;
}

.container {
  border-radius: 30px;
  background-color: #3fda85;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  padding: 20px;
}

header {
  align-content: center;
  background-color: black;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20%;
  justify-content: flex-start;
  margin: 10px;
  padding: 20px;
  position: sticky;
  top: 0;
}

img {
  border-radius: 20px;
  height: auto;
  max-width: 100%;
}

.install {
  border-color: black;
  border-radius: 30px;
  border-style: solid;
  border-width: medium;
  background-color: black;
  color: #3fda85;
  cursor: pointer;
  flex: 1 0 1;
  font-size: 125%;
  margin-bottom: 10px;
  padding: 4px;
}

.install:active {
  background-color: #3fda85;
  color: black;
}

.material-symbols-outlined {
  text-decoration: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.size-60 {
  font-size: 60px;
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  75% {
    margin-left: 25%;
    width: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.transparent {
  border-radius: 0;
}

.uninstall {
  border-color: black;
  border-radius: 30px;
  border-style: solid;
  border-width: medium;
  background-color: #3fda85;
  color: black;
  cursor: pointer;
  flex: 1 0 1;
  font-size: 125%;
  padding: 4px;
}

.uninstall:active {
  background-color: black;
  color: #3fda85;
}
