.container {
display: flex;
flex-direction: column-reverse;
background-color: #EDC9B5; width: 190px; }
.item {
margin: 10px;
padding: 10px;
width: 150px; height: 150px;
}
.container,
.item {
border-radius: 20px;
}
body {
      font-family: 'Open Sans', sans-serif;
      }
      b {
          font-weight: 700;
      }
.material-symbols-outlined {
  text-decoration: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
a.size-48 {
  font-size: 60px;
  font-variation-settings: 'OPSZ' 48;
}
