.container {
display: flex;
flex-direction: column;
border-radius: 30px;
background-color: #3fda85;
color: black;
padding: 20px;
margin: 10px;
}
a {
color: #0088cc;
}
body {
      font-family: 'Open Sans', sans-serif;
      background-image: url("img/abstract_ink.jpg")
      }
b {
   font-weight: 700;
   }
.material-symbols-outlined {
  text-decoration: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.size-60 {
  font-size: 60px;
  font-variation-settings: 'OPSZ' 48;
}
img {
 border-radius: 20px;
}
div.fixed {
  position: fixed;
  top: 0;
  background-color: black;
}
